<!-- base.html -->
{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
    <!-- pybo CSS -->
    
    <title>진의 개발 블로그!</title>
</head>
<body>
<!-- 네비게이션바 -->
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->

<div class="container my-3">
    <div class="row">
        <div class="col-md-3">
            {% include "blog_sidebar.html" %}
        </div>
        <div class="col-md-9">
            <div class="blog-content">  <!-- 본문 스타일 적용 -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
   <!-- ... 이전 내용 ... -->
</div>
<div class="container my-3">
   <!-- ... 이전 내용 ... -->
</div>
<div class="blog-footer">  <!-- 푸터 스타일 적용 -->
   <!-- ... 이전 내용 ... -->
</div>
<!-- ... 이전 내용 ... -->
<!-- 기본 템플릿 안에 삽입될 내용 End -->


<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>
