<!-- base.html -->
{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">
    <!-- pybo CSS -->
    
    <title>진의 개발 블로그!</title>
</head>
<body>
<!-- 네비게이션바 -->
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->

<div class="container my-3">
    <div class="row">
        <div class="col-md-3">
            <div class="blog-sidebar">  <!-- 사이드바 스타일 적용 -->
                <!-- 사이드바 내용 추가 -->
                <nav id="sidebar" class="border-top border-secondary">
                    <div class="list-group">
                        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light active" href="">질문과답변</a>
                        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="">기원테크</a>
                        <!-- 다른 링크들 추가 -->
                        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="">버그및건의</a>
                    </div>
                </nav>

                <ul class="my-3 small" style="padding-left:2em;">
                    <li class="my-1"><a href="" target="_blank">testtest</a></li>
                    <li class="my-1"><a href="" target="_blank">testtest</a></li>
                    <li class="my-1"><a href="" target="_blank">testtest</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="blog-content">  <!-- 본문 스타일 적용 -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
   <!-- ... 이전 내용 ... -->
</div>
<div class="container my-3">
   <!-- ... 이전 내용 ... -->
</div>
<div class="blog-footer">  <!-- 푸터 스타일 적용 -->
   <!-- ... 이전 내용 ... -->
</div>
<!-- ... 이전 내용 ... -->
<!-- 기본 템플릿 안에 삽입될 내용 End -->


<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!-- 자바스크립트 Start -->
{% block script %}
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>
